.table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;

    font-size: 1.2rem;
    font-weight: 400;
}

.table_header {
    position: sticky;
    top: 0;
    z-index: 100;

    background: linear-gradient(0deg, #003a7d 0%, #115eab 50%, #003a7d 100%);
    color: #fff;
}

.sort_icon {
    position: absolute;
    top: 50%;
    right: 15px;

    font-size: 1.5rem;

    transform: translateY(-50%);
}

.table_header button,
.table_rows button:not(.table_listbox_button) {
    display: block;
    height: 100%;
    width: 100%;

    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
    text-align: inherit;

    cursor: pointer;

    &::first-letter {
        text-transform: uppercase;
    }

    &::after {
        content: '';

        position: absolute;
        inset: 0;
        z-index: 110;
    }
}

.table_rows td:has(button:not(.table_listbox_button)) {
    position: relative;
    text-align: center;

    font-size: 1.5rem;
}

.table td {
    border: 1px solid rgb(160, 160, 160);
    padding: 8px 10px;
}

.table th {
    position: relative;
    transition: background-image 0.2s ease;

    padding: 12px 54px;
    border: 1px solid #e8e8f0;

    &:hover {
        background-image: linear-gradient(
            0deg,
            #004ba1 0%,
            #136bc2 50%,
            #004ba1 100%
        );
    }

    &[aria-sort]:not([aria-sort='none']) {
        background: linear-gradient(
            0deg,
            #004ba1 0%,
            #136bc2 50%,
            #004ba1 100%
        );
    }
}

th > button {
    letter-spacing: 1.5px;
}

.table_rows > tr {
    position: relative;
    transition: background-color 0.2s;

    &:nth-of-type(even) {
        background-color: rgb(237, 238, 242);
    }

    &:hover {
        background-color: var(--secondary-alpha);
    }
}

.table_rows > tr > td > a.row_link {
    color: inherit;
    text-decoration: none;

    &::after {
        content: '';

        position: absolute;
        inset: 0;
        z-index: 90;
    }
}

/* Artwork Table */
.align_right {
    text-align: right;
}

/* Report Table */

table.report_table thead > tr > th:nth-child(1),
table.report_table thead > tr > th:nth-child(2),
table.report_table thead > tr > th:last-child {
    padding: 12px;

    & > svg {
        display: none;
    }
}

.preview_link {
    font-size: 1.25rem;
    color: inherit;
    text-decoration: none;

    display: block;
    text-align: center;

    &::after {
        content: '';

        position: absolute;
        inset: 0;
        z-index: 90;
    }
}
td:has(a.preview_link) {
    position: relative;
}

.delete {
    color: #d01010;
}

/* Users Table */
table.users_table thead > tr > th:nth-child(8) {
    & > svg {
        display: none;
    }
}

table.users_table thead > tr > th:last-child {
    padding: 12px;

    & > svg {
        display: none;
    }
}

.table_input {
    width: 100%;
    padding: 5px 7px;

    background-color: #fff;

    border: 2px solid #e2e8f0;
    border-radius: 8px;

    font: inherit;
    font-size: 1.2rem;
    color: var(--font-color);

    transition: all 0.2s ease;
}

.table_input.active {
    border-color: var(--secondary-highlight);
    background-color: var(--secondary-alpha);
}

.table_input[data-focus] {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.table_input[data-hover] {
    border-color: var(--secondary-highlight);
}

.table_input.input_error {
    border-color: #d01010;
    background-color: #d010101a;
}

.table_listbox_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 5px 7px;
    background-color: #fff;

    border: 2px solid #e2e8f0;
    border-radius: 8px;

    cursor: pointer;

    font: inherit;
    font-size: 1.2rem;
    color: var(--font-color);

    transition: all 0.2s ease;

    &:hover {
        border-color: var(--secondary-highlight);
    }
}

.table_listbox_button.active {
    border-color: var(--secondary-highlight);
    background-color: var(--secondary-alpha);
}

.table_listbox_button[data-active],
.table_listbox_button:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.table_listbox_options {
    background-color: white;

    border: 1px solid #e2e8f0;
    border-radius: 10px;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    padding: 4px;
    margin-top: 4px;

    width: var(--button-width);
    z-index: 800;

    transition:
        opacity 100ms ease-out,
        transform 100ms ease-out;
}

.table_listbox_options[data-transition] {
    opacity: 0;
    transform: scale(0.95);
}

.table_listbox_option {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 8px 12px;

    border-radius: 6px;

    cursor: default;
    user-select: none;

    font-size: 1.2rem;
    color: var(--font-color);
}

.table_listbox_option[data-focus] {
    background-color: var(--secondary-alpha);
    color: var(--font-color);
    outline: none;
}

.table_listbox_option .table_listbox_check {
    visibility: hidden;
    color: var(--font-color);
    font-size: 0.8rem;
}

.table_listbox_option[data-selected] .table_listbox_check {
    visibility: visible;
}

.table_listbox_option_text {
    flex: 1;
}

.edit_controls {
    display: flex;
    flex-direction: row;
}

.edit_controls > button:first-of-type {
    &:hover {
        color: var(--secondary-highlight);
    }
    &::after {
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
    }
}

.edit_controls > button:last-of-type {
    &:hover {
        color: #d01010;
    }
    &::after {
        content: '';
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
    }
}
