:root {
    --primary-color: #0e4c89;
    --primary-highlight: #002855;
    --secondary-color: #489d46;
    --secondary-highlight: #5cb65a;

    --font-color: #404041;

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Permanent Marker', cursive;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;

    font-family: var(--primary-font);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
